.jumbotron {
	height: 230px;
	padding: 50px;
	text-align: center;
}

.jumbotron h1 {
	position:relative;
	top:-18px;
	font-size: 60px;
}
.jumbotron h2 {
	position: relative;
	top:-15px;	
	font-size: 36px;

}

.navbars a {
	font-weight: bold;
	font-size: 19px;
	padding: 15px;
}

.navbars  {
	height:35px;
	position:relative;
	top:-10px;
}

.navbars li {
	display: inline;
}
.footer {
	position: absolute;
	width:100%;	
	bottom: 0px;
	background-color: rgb(10,10,20);
}

.footer .container {
	text-align:center;
}

.footer .container a {
}
	
.contactbody h4{
	font-size:22px;
}

.contactbody a{
	color:rgb(100,10,150);
}

.contactbody h3{
	color:rgb(100,10,150);
}
