.jumbotron {

	height: 200px;
	padding: 80px;
	text-align: center;	
    background-color: #797c7c;
	max-width: 100%;
	height: auto;
	background-image: url('images/back.JPG');
	background-size: cover;
}

.img{
float:left;
}

.jumbotron h1 {
    font-size: 62px;
	position:relative;
	top:-10px;
    color: #FFFFFF;
    font-family:Garamond;
    font-weight: bold;

}


.jumbotron h2 {
	position: relative;
	top:-15px;	
	font-size: 36px;

}

.navbars a {
	font-family:'Courier New', Courier, monospace;
	font-weight: bold;
	font-size: 22px;
	padding: 15px;
}

.navbars  {
	height:35px;
	position:relative;
	top:-10px;
}

.navbars li {
	display: inline;
}

.homebody {
	
	padding:20px;
	height:318px;
    margin:10px;
}

.footer {
	position: absolute;
	width:100%;	
	bottom: 0px;
	background-color: rgb(10,10,20);
}

.footer .container {
	text-align:center;
}

.footer .container a {
}
	
.homebody .container h5 a {
	font-weight: bold;
	color: rgb(30,30,100);
	font-size:20px;
}

.homebody .container h5 {
	font-weight: bold;
	color: rgb(30,30,100);
	font-size:20px;
	display:inline;
}

.homebody .container h4{
    font-weight: normal;
    color: rgb(0, 0, 0);
    font-size:22px;
    font-family:'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
	padding:15px;
	text-align: justify;
    }


.homebody .container h3{
    font-weight: bold;
    /*padding:10px;*/
    color: rgb(30,30,100);
    font-size:30px;
    font-family: Garamond;
	text-align: center;
    }

.homebody .container h6{
    font-weight: normal;
    color: rgb(0, 0, 0);
    font-size:22px;
    font-family:'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
	padding:15px;
	text-align: justify;
    }

.homebody .container li{
	
	margin:18px;
}


